@charset "UTF-8";

body {
    background-color: #a5f5d7;
    font: normal normal 16px arial, sans-serif
}

h1 {
    color: #093B28;
}

h1#principal {
    text-align: center;
    background-color: #127A54;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: rgb(51, 77, 49);
}

.intermediario {
    color: rgb(173, 172, 69);
}

.avançado {
    color: rgb(194, 69, 69);
}

.destaque {
    background-color: #d4f41b96;
}

